<div class="row">
    <div class="col-md-6 col-lg-3">
        <nz-card>
            <div class="media align-items-center">
                <nz-avatar [nzSize]="60" nzIcon="dollar" class="ant-avatar-blue"  ></nz-avatar>
                <div class="m-l-15">
                    <h2 class="m-b-0">$23,523</h2>
                    <p class="m-b-0 text-muted">Profit</p>
                </div>
            </div>
        </nz-card>
    </div>
    <div class="col-md-6 col-lg-3">
        <nz-card>
            <div class="media align-items-center">
                <nz-avatar [nzSize]="50" nzIcon="line-chart" class="ant-avatar-cyan"  ></nz-avatar>
                <div class="m-l-15">
                    <h2 class="m-b-0">+ 17.21%</h2>
                    <p class="m-b-0 text-muted">Growth</p>
                </div>
            </div>
        </nz-card>
    </div>
    <div class="col-md-6 col-lg-3">
        <nz-card>
            <div class="media align-items-center">
                <nz-avatar [nzSize]="50" nzIcon="profile" class="ant-avatar-gold"  ></nz-avatar>
                <div class="m-l-15">
                    <h2 class="m-b-0">3,685</h2>
                    <p class="m-b-0 text-muted">Orders</p>
                </div>
            </div>
        </nz-card>
    </div>
    <div class="col-md-6 col-lg-3">
        <nz-card>
            <div class="media align-items-center">
                <nz-avatar [nzSize]="50" nzIcon="user" class="ant-avatar-purple"  ></nz-avatar>
                <div class="m-l-15">
                    <h2 class="m-b-0">1,832</h2>
                    <p class="m-b-0 text-muted">Customers</p>
                </div>
            </div>
        </nz-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-8">
        <nz-card>
            <div class="d-flex justify-content-between align-items-center">
                <h5>Total Revenue</h5>
                <div>
                    <nz-radio-group [(ngModel)]="revenueChartFormat">
                        <label nz-radio-button nzValue="revenueMonth">Month</label>
                        <label nz-radio-button nzValue="revenueYear">Year</label>
                    </nz-radio-group>
                </div>
            </div>
            <div class="m-t-50" style="height: 330px">
                <canvas ngChartjs 
                    [datasets]="revenueChartData" 
                    [labels]="revenueChartLabels"
                    [options]="revenueChartOptions" 
                    [colors]="revenueChartColors" 
                    [legend]="false"
                    [chartType]="revenueChartType">
                </canvas>
            </div>
        </nz-card>
    </div>
    <div class="col-md-12 col-lg-4">
        <nz-card>
            <h5 class="m-b-0">Customers</h5>
            <div class="m-v-60 text-center" style="height: 200px">
                <canvas ngChartjs 
                    [data]="customersChartData" 
                    [labels]="customersChartLabels" 
                    [chartType]="customersChartType"
                    [colors]="customersChartColors"
                    [options]="customersChartOptions"
                    [legend]="false">
                </canvas>
            </div>
            <div class="row border-top p-t-25">
                <div class="col-4">
                    <div class="d-flex justify-content-center">
                        <div class="media align-items-center">
                            <nz-badge nzStatus="default" [nzColor]="cyan"></nz-badge>
                            <div class="m-l-5">
                                <h4 class="m-b-0">350</h4>
                                <p class="m-b-0 muted">New</p>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-center">
                        <div class="media align-items-center">
                            <nz-badge nzStatus="default" [nzColor]="purple"></nz-badge>
                            <div class="m-l-5">
                                <h4 class="m-b-0">450</h4>
                                <p class="m-b-0 muted">Returning</p>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-center">
                        <div class="media align-items-center">
                            <nz-badge nzStatus="default" [nzColor]="gold"></nz-badge>
                            <div class="m-l-5">
                                <h4 class="m-b-0">100</h4>
                                <p class="m-b-0 muted">Others</p>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-4">
        <nz-card>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2 class="m-b-0">$17,267</h2>
                    <p class="m-b-0 text-muted">Avg.Profit</p>
                </div>
                <div>
                    <nz-tag [nzColor]="'cyan'">+ 5.7%</nz-tag>
                </div>
            </div>
            <div class="m-t-50" style="height: 360px">
                <canvas ngChartjs 
                    [datasets]="avgProfitChartData" 
                    [labels]="avgProfitChartLabels"
                    [options]="avgProfitChartOptions" 
                    [colors]="avgProfitChartColors"
                    [legend]="avgProfitChartLegend" 
                    [chartType]="avgProfitChartType">
                </canvas>
            </div>
        </nz-card>
    </div>
    <div class="col-md-12 col-lg-8">
        <nz-card>
            <div class="d-flex justify-content-between align-items-center">
                <h5>Top Product</h5>
                <div>
                    <a nz-button nzType="default" nzSize="small">View All</a>
                </div>
            </div>
            <div class="m-t-30">
                <nz-table #productTable [nzData]="productsList" [nzShowPagination]="false" class="no-border-last">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Orders</th>
                            <th>Earning</th>
                            <th>Stock Left</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productTable.data">
                            <td>
                                <div class="d-flex align-items-center">
                                    <nz-avatar nzShape="square"  nzIcon="picture" [nzSrc]="item.avatar"></nz-avatar>
                                    <span class="m-l-10">{{item.name}}</span>
                                </div>
                            </td>
                            <td>{{item.sales}}</td>
                            <td>${{item.earn | number:'3.2-5'}}</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="w-90 p-r-10">
                                        <nz-progress *ngIf="item.stock > 60" [nzStrokeColor]="cyan" [nzPercent]="item.stock" nzSize="small" [nzShowInfo]="false"></nz-progress>
                                        <nz-progress *ngIf="item.stock > 40 && item.stock < 60" [nzStrokeColor]="gold" [nzPercent]="item.stock" nzSize="small" [nzShowInfo]="false"></nz-progress>
                                        <nz-progress *ngIf="item.stock < 40" [nzStrokeColor]="red" [nzPercent]="item.stock" nzSize="small" [nzShowInfo]="false"></nz-progress>
                                    </div>
                                    <span>{{item.stock}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </nz-card>
    </div>
</div>
